$navbar-default-bg:                #f8f8f8 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;
$read-only-background-color:       rgb(235, 235, 228);
$input-border-color:               #aaa;